@font-face {
    font-family: 'Larsseit-Regular';
    src: url('/fonts/Larsseit.ttf');
    src: url('/fonts/Larsseit.eot?#iefix') format('embedded-opentype'), url('/fonts/Larsseit.woff') format('woff');
    font-style: normal;
    // font-weight: 300;
}

@font-face {
    font-family: 'Larsseit-Light';
    src: url('/fonts/Larsseit-Light.ttf');
    src: url('/fonts/Larsseit-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Larsseit-Light.woff') format('woff');
    font-style: normal;
    // font-weight: 700;
}

@font-face {
    font-family: 'Larsseit-Medium';
    src: url('/fonts/Larsseit-Medium.ttf');
    src: url('/fonts/Larsseit-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/Larsseit-Medium.woff') format('woff');
    font-style: normal;
    // font-weight: 700;
}

@font-face {
    font-family: 'Larsseit-Bold';
    src: url('/fonts/Larsseit-Bold.ttf');
    src: url('/fonts/Larsseit-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Larsseit-Bold.woff') format('woff');
    font-style: normal;
    // font-weight: 700;
}